.content-51,
.container-53 {
	height: 0;
}

.popover {
	min-height: 100px;
	background: white;
	overflow: visible;
}

.popover > .beak-55 {
	top: 10px !important;
}
.po-title {
	font-weight: bold;
	margin-bottom: 10px;
}

.po-content {
	padding: 10px;
}
