.cactiva-canvas {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.cactiva-canvas-content {
	display: flex;
	flex-direction: column;
	flex: 1;
	background: white;
	margin: 0 5px;
	border-radius: 5px;
	padding: 10px;
	overflow-y: auto;
}

.expression-code {
	margin-bottom: 3px;
	color: #333;
}
